page-hesabim {
    .no-scroll .scroll-content{
        overflow: hidden;}
        .font{
            font-weight: Lighter!important; 
            opacity: 1.6; width: 300%; height:10%; background-color: #9040e0;
            font-size: 120%;
        } 
}
